name: book-next

on:
  pull_request:
    branches:
      - next
  push:
    branches:
      - next

jobs:
  test:
    runs-on: ubuntu-latest
    name: build listings
    container:
      image: ghcr.io/gtk-rs/gtk4-rs/gtk4:latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: "next"
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy
      - run: cargo clippy --examples --workspace -- -D warnings
        name: "Clippy"
        working-directory: ./

  build-deploy:
    runs-on: ubuntu-latest
    name: build
    steps:
      - uses: actions/checkout@v4
        with:
          ref: "next"

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2

      - run: mdbook build -d book
        working-directory: ./

      - name: Link Checker
        uses: lycheeverse/lychee-action@v2.0.2
        with:
          args: book
          fail: true

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        # Only deploy when ref is next
        if: (github.event_name == 'push' && github.ref == 'refs/heads/next')
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          external_repository: Relm4/website
          publish_dir: ./book
          keep_files: false
          destination_dir: ./book/next

  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: "next"
      - uses: codespell-project/actions-codespell@master
        with:
          check_filenames: true
          path: src
          ignore_words_list: crate,statics,relm